/*
	ANGULAR PORTFOLIO CSS
	Website: jeffmartines.com/work (future)
	Created by: Jeff Martines;
	created: 10/18/13;
	updated: 10/18/13;
*/
/* Defualt Size*/

#portfolio{ 
	font-family: "Helvetica";
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	
}

.explanation{
	float:left;
	font-family: "Helvetica";
	display: inline;
}

.portfolioTitle{
	font-family: "Helvetica";
	font-size: 175%;
	font-weight: 100;
	float: left;
	width: 100%;
	margin: 1% 0% 1% 0%;
	border-bottom: 1px solid #ccc;
	color: #39f;
}

.portfolioBody{
	margin: 2% auto 0% 0%;
	float: left;
}

.portfolioBody .explanation{
	width: 60%;
	font-size: 150%;
	margin-left: 5%;
}

.portfolioBody .explanation p{
	margin-top: 10%;
}

.portfolioImg{
	width: 35%;
	float:left;
}

/*Tablets(mainly iPads)*/
@media screen and (max-width: 850px) {
#portfolio{ width: 100%; }
}/*end tablets(mainly iPad)*/

/*landscape mobile*/
@media screen and (max-width: 610px) and (orientation:landscape){
.portfolioImg {
	width: 28%;
	float: left;
	margin: 0% 1% 0% 1%;
}

.portfolioBody .explanation {
	width: 65%;
	font-size: 150%;
	margin-left: 5%;
}
}/*End landscape mobile*/

/*Phones!*/
@media screen and (max-width: 500px) {
.portfolioImg {
	width: 75%;
	float: left;
	margin: 0% 12.5% 0% 12.5%;
}

.portfolioBody .explanation {
	width: 90%;
	font-size: 150%;
	margin-left: 5%;
}
}/*end Phones*/
